.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f1e33;
    color: black;
    border: solid 1px grey;
    border-radius: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
    padding: 20px;
}

.link{
    background-color: #19355c;
    color: white;
    padding: 10px;
    width: 80%;
    overflow-x: auto;
}

.btns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btns i{
    font-size: 20px;
    cursor: pointer;
    color: white;
}

/* Mobile First */
@media (max-width: 767px) {
    .popup{
        width: 90% !important;
        padding: 10px !important;
        gap: 10px !important;
    }
}
