.sidebar{
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: solid 1px rgb(230, 230, 230);
    background-color: #0F1E33;
}


.sidebar .icon{
    height: 70px;
    margin-bottom: 10px;
    border-bottom: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.master{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar ul{
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.sidebar ul .tab{
    padding: 5px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar ul .tab:hover{
    background-color: rgb(207, 205, 205);
    transition: 0.2s;
}

.sidebar ul .tab.active{
    background-color: rgb(59, 59, 59);
}

.sidebar.mini{
    width: 70px;
}

.sidebar.mini .tab{
    justify-content: center;
}


.sidebar.mini span{
    display: none;
}

.sidebar.mini ul .tab{
    font-size: 25px;
}

.sidebar.mini ul .tab.active{
    background-color: #0F1E33;
    color: red;
}




/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar{
        width: 70px;
    }
    .sidebar .tab{
    justify-content: center;
    }

    .sidebar span{
        display: none;
    }
    .sidebar ul .tab{
    font-size: 25px;
    }
    .sidebar ul .tab.active{
        background-color: #0F1E33;
        color: red;
    }

    .logo{
        display: none;
    }
    .sidebar .icon::before {
        content: url('./miniLogo.png');
    }
    .sidebar ul li:last-of-type{
        display: none;
    }
}


/* Mobile First */
@media (max-width: 767px) {
    
}
